{% extends "base_generic.html" %}

{% block static %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %}<title>home</title>{% endblock %}

{% block content %}
    <div class="index-container">
        <a href="/quadratic-equation/">
            <div class="index-button">Квадратное уравнение</div>
        </a>
        <a href="/hundred-items/">
            <div class="index-button">Сто предметов</div>
        </a>
    </div>
{% endblock %}