.hi-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: inherit;
    margin-top: 200px;
}
@media (max-device-width: 1499px) {
    .hi-header-container  {margin-top: var(--margin);}
}
@media (min-device-width: 1499px) {
    .hi-header-container  {margin-top: 200px;}
}

.hi-data-container {
    display: flex;
    justify-content: center;
    margin-top: calc(var(--margin) * 3);
    margin-bottom: calc(var(--margin) * 3);
    font-size: 30px;
    line-height: 40px;
}

.wide-button {
    height: 40px;
    background-color: var(--light-color);
    border: none;
    border-radius: var(--radius);
    text-align: center;
    line-height: 40px;
    color: black;
}
@media (max-device-width: 1499px) {
    .wide-button {width: 100%;}
}
@media (min-device-width: 1499px) {
    .wide-button {width: 800px}
}

/* 
 * Service description
 */

.desc-container {
    margin-top: var(--margin);
    border: 1px solid var(--dark-color);
    border-radius: var(--radius);
}
@media (max-device-width: 1499px) {
    .desc-container {width: 100%;}
}
@media (min-device-width: 1499px) {
    .desc-container {width: 798px}
}

.desc-header-container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - var(--margin) * 2);
    margin: var(--margin);
    padding: 0px;
    background-color: white;
    border: none;
}

.desc-header-text {
    height: 20px;
    line-height: 20px;
}

.desc-header-is-opened-icon {
    width: 20px;
    height: 20px;
    background-size: cover;
}

.desc-body-container {
    margin: var(--margin);
    padding-top: var(--margin);
    border-top: 1px solid var(--dark-color);
    text-align: justify;
    line-height: 20px;
}



