.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: inherit;
    margin-top: 200px;
}
.index-container a {color: black}
.index-container a:visited {color: black}
.index-container a:active {color: var(--accent-color)}

.index-button {
    margin: var(--margin);
    width: 400px;
    height: 60px;
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
    border-radius: var(--radius);
    box-shadow: 0px 5px 10px var(--dark-color);
    font-size: 18px;
    line-height: 60px;
    text-align: center;
}
.index-button:hover {
    margin: calc(var(--margin) - 2px);
    width: 404px;
    height: 64px;
    line-height: 64px;
}