.qe-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: inherit;
}
@media (max-device-width: 1499px) {
    .qe-header-container  {margin-top: var(--margin);}
}
@media (min-device-width: 1499px) {
    .qe-header-container  {margin-top: 200px;}
}

.qe-data-container {
    display: flex;
    justify-content: center;
    /* margin-top: calc(var(--margin) * 3);
    margin-bottom: calc(var(--margin) * 3); */
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    line-height: 20px;
}

.qe-input {
    width: 50px;
    height: 20px;
    margin-left: var(--margin);
    margin-right: var(--margin);
}

.qe-button {
    height: 40px;
    background-color: var(--light-color);
    border: none;
    border-radius: var(--radius);
    text-align: center;
    line-height: 40px;
}
@media (max-device-width: 1499px) {
    .qe-button {width: 100%;}
}
@media (min-device-width: 1499px) {
    .qe-button {width: 798px}
}

/* 
 * Solutions history
 */

.desc-container {
    margin-top: var(--margin);
    margin-bottom: calc(var(--margin) * 5);
    border: 1px solid var(--dark-color);
    border-radius: var(--radius);
}
@media (max-device-width: 1499px) {
    .desc-container {width: 100%;}
}
@media (min-device-width: 1499px) {
    .desc-container {width: 798px}
}

.desc-header-container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - var(--margin) * 2);
    margin: var(--margin);
    padding: 0px;
    background-color: white;
    border: none;
}

.desc-header-text {
    height: 20px;
    line-height: 20px;
}

.desc-header-is-opened-icon {
    width: 20px;
    height: 20px;
    background-size: cover;
}

.desc-body-container {
    margin-top: var(--margin);
    margin-left: var(--margin);
    margin-right: var(--margin);
    border-top: 1px solid var(--dark-color);
    text-align: justify;
    line-height: 20px;
}

.qe-solution-conatiner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: var(--margin);
    padding-bottom: var(--margin);
}

/* .qe-solution-header-conatiner {
    background-color: var(--light-color);
    border-radius: calc(var(--radius) * 0.5);
} */

.qe-solution-conatiner-border {
    border-top: 1px solid var(--dark-color);
}

.qe-solution-data {
    width: 45%;
    /* padding-left: var(--margin);
    padding-right: var(--margin); */
    line-height: 20px;
}